/* 
Challenge:
1. Create a "header" selector.                          DONE
2. Give it its background color.                        DONE
3. What CSS property do you need to use to remove
   the annoying white space at the top? Give this 
   property a value of 45px top and bottom.             DONE
3. Create selectors for the h1 and h3 elements.         DONE
4. Assign the correct margins, size & colors to h1      DONE N.B. I had previously changed the h3 to an h2 for better semantics.
   and h3.
At the end of the challenge, the h1 and h3 will 
still be up right up against the left-hand edge of 
the browser. That is fine for now.   
*/

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #2b283a;
    margin: 0;
}

header {
    background-color: #5f20a3;
    padding: 45px 0;
}

h1 {
    color: whitesmoke;
    font-size: 2.25;
    margin: 0;
}

h2 {
    color: #d0aaff;
    font-size: 1.25;
    margin: 0;
}